<template>
  <v-dialog :value="true" persistent max-width="600px">
    <v-card>
      <v-card-title>
        Create Room
      </v-card-title>
      <v-card-text>
        We will create a <b>private</b> playlist to your account.
        <v-text-field
          label="Name of the playlist"
          :loading="isLoading"
          v-model="name"
        />
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="createRoom" :loading="isLoading">Create</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import Vue from "vue";
import { emitEvent } from "../plugins/socketio";
import { setJWT } from "../plugins/jwt";
export default Vue.extend({
  data() {
    return {
      name: "",
      isLoading: false
    };
  },
  methods: {
    async createRoom() {
      this.isLoading = true;

      if (typeof this.$route.query.code === "string") {
        const { id, jwt } = await emitEvent("room:create", {
          code: this.$route.query.code,
          name: this.name
        });

        setJWT(jwt);

        this.$router.push({
          name: "room",
          params: {
            id
          }
        });
      }
    }
  },
  beforeRouteEnter({ query: { code } }, _, next) {
    if (code) {
      next();
    } else {
      next("/");
    }
  }
});
</script>
