<template>
  <v-btn color="primary" :href="uri">
    <v-icon left>mdi-plus</v-icon>
    Create new Room
  </v-btn>
</template>
<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  data() {
    /* eslint-disable @typescript-eslint/camelcase */
    const redirect_uri =
      process.env.NODE_ENV === "production"
        ? `https://collective-listening.rocks/create` // TODO: use env
        : "http://localhost:8080/create";

    const scopes = [
      "streaming",
      "user-read-email",
      "user-read-private",
      "user-read-recently-played",
      "user-modify-playback-state",
      "playlist-modify-private"
    ];

    const queryParameters = {
      response_type: "code",
      client_id: "f286d96d2deb4252b3222a64550fa799", // TODO: use env
      redirect_uri,
      scope: scopes.join(" "),
      state: Math.random()
        .toString(36)
        .substring(7)
    };

    return {
      uri: `https://accounts.spotify.com/authorize?${Object.entries(
        queryParameters
      )
        .map(([key, value]) => `${key}=${encodeURIComponent(value)}`)
        .join("&")}`
    };
  }
});
</script>
