<template>
  <div
    @drop="drop"
    dropzone
    @dragenter="dragEnter"
    @dragleave="dragLeave"
    @dragover="dragOver"
    class="d-flex full-height justify-center align-center"
  >
    <slot></slot>

    <v-overlay :value="!!dragTarget">
      <v-progress-circular indeterminate size="64" v-if="isLoading" />
      <template v-else>Drop you Spotify song or playlist here</template>
    </v-overlay>

    <v-dialog
      :value="$route.hash.includes('import')"
      @click:outside="closeModals"
      max-width="600px"
    >
      <v-card @dragenter="dragEnter">
        <v-card-title>
          Import songs
        </v-card-title>
        <v-card-text>
          Just paste the track or playlist URL, or drag a song or playlist here.
          <v-text-field label="Url" :loading="isLoading" v-model="importUri" />
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="() => addTracks([importUri])" :loading="isLoading"
            >Import Tracks</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      :value="$route.hash.includes('search')"
      @click:outside="closeModals"
      max-width="600px"
      scrollable
    >
      <v-card @dragenter="dragEnter">
        <v-card-title>
          <v-text-field
            :loading="isLoading"
            outlined
            append-icon="mdi-magnify"
            placeholder="Search for a Track, Artist, or Album"
            v-model="searchQuery"
            hide-details
          />
        </v-card-title>
        <v-card-text v-if="searchResult">
          <v-list>
            <template v-for="track in searchResult">
              <ListItem
                :key="`track-${track.id}`"
                :title="track.name"
                :subtitle="track.artist"
              >
                <v-btn @click="() => addTrack(track.id)" icon>
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </ListItem>
              <v-divider :key="`div-${track.id}`" />
            </template>
            <v-list-item @click="loadMore">
              <v-list-item-title class="text-center text--primary"
                >Load more</v-list-item-title
              >
            </v-list-item>
          </v-list>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-speed-dial
      v-model="open"
      bottom
      fixed
      right
      direction="top"
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator>
        <v-btn v-model="open" fab>
          <v-icon v-if="open">mdi-close</v-icon>
          <v-icon v-else>mdi-plus</v-icon>
        </v-btn>
      </template>

      <v-tooltip left transition="fade-transition">
        <template v-slot:activator="{ on, attrs }">
          <v-btn fab to="#search" v-bind="attrs" v-on="on">
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
        </template>
        <span>Search track</span>
      </v-tooltip>

      <v-tooltip left transition="fade-transition">
        <template v-slot:activator="{ on, attrs }">
          <v-btn fab to="#import" v-bind="attrs" v-on="on">
            <v-icon>mdi-link</v-icon>
          </v-btn>
        </template>
        <span>Import track or playlist</span>
      </v-tooltip>
    </v-speed-dial>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { emitEvent } from "../plugins/socketio";
import { Track } from "types";
import ListItem from "./ListItem.vue";
export default Vue.extend<
  {
    importUri: string;
    isLoading: boolean;
    searchQuery: string;
    dragTarget?: EventTarget;
    open: boolean;
    searchResult?: Track[];
    offset: number;
  },
  {
    addTrack: (id: string) => Promise<void>;
    addTracks: (uri: string[]) => Promise<void>;
    loadMore: () => Promise<void>;
    dragEnter: (e: DragEvent) => void;
    dragLeave: (e: DragEvent) => void;
    dragOver: (e: DragEvent) => void;
    drop: (e: DragEvent) => void;
    closeModals: () => void;
  },
  {},
  {}
>({
  name: "Import",
  components: {
    ListItem
  },
  data() {
    return {
      importUri: "",
      searchQuery: "",
      isLoading: false,
      dragTarget: undefined,
      open: false,
      searchResult: undefined,
      offset: 0
    };
  },
  watch: {
    async searchQuery(query) {
      if (query.length > 5) {
        this.isLoading = true;
        this.searchResult = await emitEvent("search", {
          query
        });
        this.isLoading = false;
        this.offset = this.searchResult.length;
      }
    }
  },
  methods: {
    async addTracks(uris: string[]) {
      this.isLoading = true;
      await emitEvent("room:tracks:import", {
        uris
      });
      this.isLoading = false;
      this.closeModals();
      this.importUri = "";
      this.dragTarget = undefined;
    },
    dragEnter(e: DragEvent) {
      if (e.target) {
        this.dragTarget = e.target;
        this.closeModals();

        setTimeout(() => {
          this.dragTarget = undefined;
        }, 2000);
      }
    },
    dragLeave(e: DragEvent) {
      if (e.target === this.dragTarget) this.dragTarget = undefined;
    },
    dragOver(e: DragEvent) {
      e.preventDefault();
    },
    drop(e: DragEvent) {
      e.preventDefault();
      const uri = e.dataTransfer?.getData("text");
      if (uri && uri.includes("spotify")) {
        this.addTracks(uri.split("\n"));
      }
    },
    async addTrack(id: string) {
      await emitEvent("room:tracks:import", { uris: [`spotify:track:${id}`] });
      this.searchResult = this.searchResult?.filter(t => t.id !== id);
    },
    async loadMore() {
      this.searchResult = [
        ...(this.searchResult || []),
        ...(await emitEvent("search", {
          query: this.searchQuery,
          offset: this.offset
        }))
      ];
    },
    closeModals() {
      this.$router.push("#");
    }
  }
});
</script>
<style lang="scss">
.v-list.half-height {
  max-height: 60vh;
  overflow: auto;
}
</style>
