<template>
  <div class="d-flex justify-center align-center full-height text-center">
    <v-container fluid>
      <Content />
      <br />
      <CreateRoomButton />
      <router-view />
    </v-container>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import Content from "../content/index.md";
import CreateRoomButton from "./CreateRoomButton.vue";

export default Vue.extend({
  components: {
    Content,
    CreateRoomButton
  }
});
</script>
<style lang="scss">
.full-height {
  height: 100%;
}
</style>
