<template>
  <v-list>
    <template v-for="track in tracks">
      <Track
        :key="`track-${track.id}`"
        :track="track"
        :isPlaying="currentTrack === track.id"
      />
      <v-divider :key="`div-${track.id}`" />
    </template>
  </v-list>
</template>
<script lang="ts">
import Vue from "vue";
import Track from "./Track.vue";
import { Track as ITrack } from "types";
export default Vue.extend<
  {},
  {},
  {},
  {
    tracks: ITrack[];
    currentTrack?: string;
  }
>({
  name: "List",
  components: {
    Track
  },
  props: {
    tracks: {
      type: Array,
      required: true
    },
    currentTrack: {
      type: String
    }
  }
});
</script>
