<template>
  <v-list-item :class="active ? 'sticky' : undefined">
    <v-list-item-content>
      <v-list-item-title :class="active ? 'green--text' : undefined">{{
        title
      }}</v-list-item-title>
      <v-list-item-subtitle v-if="subtitle">{{
        subtitle
      }}</v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action>
      <slot />
    </v-list-item-action>
  </v-list-item>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend<
  {},
  {},
  {},
  {
    title: string;
    subtitle?: string;
    active?: boolean;
  }
>({
  name: "ListItem",
  props: {
    title: {
      type: String
    },
    subtitle: {
      type: String
    },
    active: {
      type: Boolean,
      default: false
    }
  }
});
</script>
<style lang="scss" scoped>
@import "~vuetify/src/styles/styles.sass";
.sticky {
  position: sticky;
  top: 56px;
  background-color: #191414;
  box-shadow: 0 0 2px #fff;
  z-index: 2;
  bottom: 82px;

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    top: 64px;
    bottom: 0;
  }
}
</style>
