<template>
  <div class="snack-wrapper">
    <v-snackbar
      v-for="notification in $store.state.notifications.notifications"
      :key="notification.key"
      absolute
      right
      top
      v-model="notification.value"
      :style="'border-color: ' + $vuetify.theme.themes.dark[notification.type]"
    >
      {{ notification.message }}

      <template v-slot:action="{ attrs }">
        <v-btn dark icon @click="notification.value = false" v-bind="attrs">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import socket, { listenToEvent } from "../plugins/socketio";

export default Vue.extend<{}, {}, {}, {}>({
  mounted() {
    listenToEvent("error", message =>
      this.$store.commit("notifications/error", message)
    );
    listenToEvent("info", message =>
      this.$store.commit("notifications/info", message)
    );
  },
  destroyed() {
    socket.off("error");
    socket.off("info");
  }
});
</script>

<style lang="scss">
@import "~vuetify/src/components/VSnackbar/VSnackbar.sass";

.snack-wrapper {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;

  .v-snack {
    position: relative;

    .v-snack__wrapper {
      border-color: inherit !important;

      .v-snack__content {
        border-radius: $snackbar-border-radius;
        border-left: 4px solid transparent;
        border-color: inherit;
      }
    }
  }
}

* {
  user-select: none;
}
</style>
