<template>
  <v-tooltip right transition="fade-transition">
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        @click="togglePlay"
        fab
        bottom
        left
        absolute
        color="primary"
        v-bind="attrs"
        v-on="on"
      >
        <v-icon v-if="paused">mdi-play</v-icon>
        <v-icon v-else>mdi-pause</v-icon>
      </v-btn>
    </template>
    <span v-if="paused">Start playing</span>
    <span v-else>Pause</span>
  </v-tooltip>
</template>
<script>
/* eslint-disable @typescript-eslint/camelcase */
import Vue from "vue";
import { emitEvent } from "../plugins/socketio";
export default Vue.extend({
  data() {
    return {
      player: undefined,
      paused: true,
      currentTrack: undefined,
      initialized: false
    };
  },
  watch: {
    currentTrack(id) {
      emitEvent("player:updated", id);
    }
  },
  mounted() {
    const script = document.createElement("script");
    script.setAttribute("src", "https://sdk.scdn.co/spotify-player.js");
    document.head.appendChild(script);

    window.onSpotifyWebPlaybackSDKReady = async () => {
      // eslint-disable-next-line no-undef
      this.player = new Spotify.Player({
        name: "collective-listening.rocks",
        getOAuthToken: callback =>
          emitEvent("room:get:access_token").then(callback)
      });
      this.player.addListener(
        "player_state_changed",
        ({ track_window: { current_track }, paused }) => {
          if (current_track.id !== this.currentTrack) {
            this.currentTrack = current_track.id;
          }
          if (paused !== this.paused) {
            this.paused = paused;
          }
        }
      );
      await this.player.connect();
    };
  },
  methods: {
    async togglePlay() {
      if (!this.initialized) {
        await emitEvent("player:start", { device: this.player._options.id });
        this.initialized = true;
      } else {
        await this.player.togglePlay();
      }
    }
  }
});
</script>
