<template>
  <v-speed-dial
    v-model="open"
    v-if="src"
    bottom
    fixed
    left
    direction="top"
    transition="slide-y-reverse-transition"
  >
    <template v-slot:activator>
      <v-btn v-model="open" fab>
        <v-icon v-if="open">mdi-close</v-icon>
        <v-icon v-else>mdi-share-variant</v-icon>
      </v-btn>
      <v-snackbar v-model="copied" bottom>
        url copied to clipboard
      </v-snackbar>
    </template>
    <v-card>
      <img :src="src" />
    </v-card>
  </v-speed-dial>
</template>
<script lang="ts">
import Vue from "vue";
import { emitEvent } from "../plugins/socketio";
export default Vue.extend<
  {
    src?: string;
    open: boolean;
    copied: boolean;
  },
  {},
  {},
  {}
>({
  data() {
    return {
      src: undefined,
      open: this.$vuetify.breakpoint.mdAndUp,
      copied: false
    };
  },
  async beforeMount() {
    this.src = await emitEvent("room:qrCode", { id: this.$route.params.id });
  },
  watch: {
    async open(val) {
      if (val) {
        try {
          await navigator.clipboard.writeText(document.location.href);
          this.copied = true;
        } catch (e) {
          // ignore
        }
      }
    }
  }
});
</script>
