<template>
  <v-list>
    <ListItem title="Refresh" active>
      <v-btn @click="refresh" icon>
        <v-icon>mdi-refresh</v-icon>
      </v-btn>
    </ListItem>
    <template v-for="track in tracks">
      <ListItem
        :key="`track-${track.id}`"
        :title="track.name"
        :subtitle="track.artist"
      >
        <v-btn @click="() => addTrack(track.id)" icon>
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </ListItem>
      <v-divider :key="`div-${track.id}`" />
    </template>
  </v-list>
</template>
<script lang="ts">
import Vue from "vue";
import { emitEvent } from "../plugins/socketio";
import ListItem from "./ListItem.vue";
import { Track } from "types";
export default Vue.extend<
  {
    tracks: Track[];
  },
  {
    addTrack: (id: string) => Promise<void>;
    getRecommendations: () => Promise<void>;
    refresh: () => Promise<void>;
  },
  {},
  {}
>({
  name: "Recommendations",
  data() {
    return {
      tracks: []
    };
  },
  components: {
    ListItem
  },
  methods: {
    async refresh() {
      this.tracks = [];
      await this.getRecommendations();
    },
    async addTrack(id: string) {
      await emitEvent("room:tracks:import", { uris: [`spotify:track:${id}`] });
      this.tracks = this.tracks.filter(t => t.id !== id);
      if (this.tracks.length < 10) this.getRecommendations();
    },
    async getRecommendations() {
      const newTracks = await emitEvent("room:recommendations", {});
      this.tracks = [...this.tracks, ...newTracks];
    }
  },
  async mounted() {
    this.getRecommendations();
  }
});
</script>
<style lang="scss">
.v-list {
  padding: 0;

  .v-divider:last-child {
    display: none;
  }
}
</style>
