<template>
  <ListItem :title="track.name" :subtitle="track.artist" :active="isPlaying">
    <v-btn
      v-if="state === 'UP'"
      @click="() => vote(undefined)"
      icon
      color="success"
    >
      <v-icon>mdi-thumb-up</v-icon>
    </v-btn>
    <v-btn v-else @click="() => vote('UP')" icon>
      <v-icon>mdi-thumb-up-outline</v-icon>
    </v-btn>
    <v-btn
      v-if="state === 'DOWN'"
      @click="() => vote(undefined)"
      icon
      color="error"
    >
      <v-icon>mdi-thumb-down</v-icon>
    </v-btn>
    <v-btn v-else @click="() => vote('DOWN')" icon>
      <v-icon>mdi-thumb-down-outline</v-icon>
    </v-btn>
  </ListItem>
</template>
<script lang="ts">
import Vue from "vue";
import { Track, VoteDirection } from "types";
import { emitEvent } from "../plugins/socketio";
import ListItem from "./ListItem.vue";
export default Vue.extend<
  {
    state?: VoteDirection;
  },
  {
    vote: (vote: VoteDirection) => Promise<void>;
  },
  {},
  {
    track: Track;
    isPlaying: boolean;
  }
>({
  name: "Track",
  components: {
    ListItem
  },
  props: {
    track: {
      type: Object,
      required: true
    },
    isPlaying: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      state: undefined
    };
  },
  mounted() {
    this.state = this.track.vote;
  },
  methods: {
    async vote(vote?: VoteDirection) {
      await emitEvent("room:track:vote", {
        vote,
        id: this.track.id
      });
      this.state = vote;
    }
  }
});
</script>
