<template>
  <router-view />
</template>
<style lang="scss">
a:not(:hover) {
  text-decoration: none;
}
body .theme--dark.v-application {
  background-color: #191414;
}
body .theme--dark.v-list,
body .theme--dark.v-tabs-items {
  background: transparent;
}
.v-application {
  .v-toolbar__content {
    a {
      color: inherit;
      text-decoration: none;
      display: flex;
    }
    .v-toolbar__title {
      padding-left: 20px;
    }
    .v-btn {
      margin-left: 10px;
      margin-right: 0 !important;
    }
  }
  .v-main {
    max-width: 800px;
    margin: auto;
    width: 100%;
  }
  p {
    margin: 1rem 0;
  }
}
</style>
