<template>
  <v-app>
    <v-app-bar elevate-on-scroll app color="#191414">
      <router-link to="/">
        <img alt="Logo" width="32px" src="../assets/logo.svg" />

        <v-toolbar-title v-if="$vuetify.breakpoint.mdAndUp"
          >Collective Listening</v-toolbar-title
        >
      </router-link>

      <v-spacer></v-spacer>

      <CreateRoomButton v-if="$vuetify.breakpoint.mdAndUp" />

      <v-btn text to="/about">
        About
      </v-btn>

      <v-btn text to="/privacy">
        Privacy
      </v-btn>

      <v-btn
        icon
        href="https://gitlab.com/louishalbritter/collective-listening"
      >
        <v-icon>mdi-gitlab</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>
<script lang="ts">
import Vue from "vue";
import CreateRoomButton from "../components/CreateRoomButton.vue";
export default Vue.extend({
  components: {
    CreateRoomButton,
  },
});
</script>
