<template>
  <v-app>
    <v-app-bar app color="#191414">
      <Player v-if="isAdmin && tracks.length" />
      <v-tabs fixed-tabs v-model="tabs">
        <v-tab href="#list">List</v-tab>
        <v-tab href="#recommendations">Recommendations</v-tab>
      </v-tabs>
    </v-app-bar>
    <v-main>
      <Notifications />
      <Import>
        <v-container class="custom-container">
          <v-tabs-items v-model="tabs">
            <v-tab-item value="list">
              <List
                v-if="tracks.length"
                :tracks="tracks"
                :currentTrack="currentTrack"
              />
              <div v-else class="text-center no-tracks">
                There are no tracks added to the playlist yet.
                <div>
                  <v-btn to="#search">
                    <v-icon left>mdi-magnify</v-icon>
                    search tracks
                  </v-btn>
                </div>
                <div>
                  <v-btn to="#import">
                    <v-icon left>mdi-link</v-icon>
                    import track or playlist
                  </v-btn>
                </div>
                <div>
                  <v-btn @click="tabs = 'recommendations'">
                    show recommendations
                  </v-btn>
                </div>
              </div>
            </v-tab-item>
            <v-tab-item value="recommendations">
              <Recommendations />
            </v-tab-item>
          </v-tabs-items>
        </v-container>
        <QrCode />
      </Import>
    </v-main>
  </v-app>
</template>
<script lang="ts">
import Vue from "vue";
import { emitEvent, listenToEvent } from "../plugins/socketio";
import QrCode from "../components/QrCode.vue";
import Import from "../components/Import.vue";
import Recommendations from "../components/Recommendations.vue";
import Notifications from "../components/Notifications.vue";
import Player from "../components/Player.vue";
import List from "../components/List.vue";
import { Track } from "types";
import { setJWT, getJWTPayload } from "../plugins/jwt";
export default Vue.extend<
  {
    tracks?: Track[];
    currentTrack?: string;
    isAdmin: boolean;
    tabs: string;
  },
  {},
  {},
  {}
>({
  name: "Room",
  components: {
    QrCode,
    Import,
    List,
    Recommendations,
    Notifications,
    Player
  },
  data() {
    return {
      tracks: [],
      currentTrack: undefined,
      isAdmin: false,
      tabs: "list"
    };
  },
  async mounted() {
    listenToEvent("room:tracks:added", tracks => {
      this.tracks = [...(this.tracks || []), ...tracks];
      this.$store.commit(
        "notifications/info",
        `${tracks.length} ${tracks.length > 1 ? "songs" : "song"} added`
      );
    });
    listenToEvent("room:track:voted", ({ track, vote }) => {
      this.$store.commit(
        "notifications/info",
        `${track.name} by ${track.artist} got ${
          vote === "UP" ? "upvoted" : "downvoted"
        }`
      );
    });
    listenToEvent("room:expiries_soon", () => emitEvent("room:keep_alive", {}));
    listenToEvent("player:updated", id => {
      this.currentTrack = id;
    });
    const {
      room: { tracks, currentTrack },
      jwt
    } = await emitEvent("room:join", {
      id: this.$route.params.id
    });
    if (jwt) setJWT(jwt);
    this.tracks = tracks;
    this.currentTrack = currentTrack;
    this.isAdmin = getJWTPayload()?.admin || false;
    if (!this.tracks.length) this.tabs = "recommendations";
  }
});
</script>
<style lang="scss">
.custom-container {
  padding: 0;
}
.v-list {
  min-height: calc(100vh - 48px);
}
.no-tracks .v-btn {
  margin-top: 1rem;
}
</style>
